cryptography==3.4.6
django==2.2.14
django-environ==0.4.5
django-filter==2.3.0
django-generic-api-permissions==0.1.0
djangorestframework==3.12.2
djangorestframework-jsonapi==4.0.0
mozilla-django-oidc==1.2.3
requests==2.24.0
psycopg2==2.8.5
uwsgi==2.0.19.1
